*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    background-color: black;
    font-family: sans-serif;
    justify-content: space-between;
    color: white;
}
.menubar {
 background-color: rgb(22, 22, 22);
 text-align: center;
}
.menubar ul{
    display: inline-flex;
    list-style: none;
}
.menubar ul li{
    width: 120px;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
}
.menubar ul li:hover{
    background-color: black;
}
.info{
    display: inline-block;
    padding: 60px;
    margin: 60px;
}
.click{
    padding: 10px 25px 10px 25px;
    background-color: aqua;
    border: 1px black;
    height: fit-content;    
    width: fit-content;
    text-decoration: none;
}
.click:hover{
    background-color: rgb(62, 61, 61);
    color: yellow;
}